USE [master]
GO
/****** Object:  Database [shop_mobi]    Script Date: 5/21/2019 11:25:28 PM ******/
CREATE DATABASE [shop_mobi]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [shop_mobi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [shop_mobi]
GO
/****** Object:  Table [dbo].[tbl_anh]    Script Date: 5/21/2019 11:25:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_anh](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[duongdan] [varchar](255) NULL,
	[id_sp] [int] NULL,
 CONSTRAINT [PK_tbl_anh] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_chitietdonhang]    Script Date: 5/21/2019 11:25:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_chitietdonhang](
	[id_don] [varchar](12) NOT NULL,
	[id_sp] [int] NOT NULL,
	[soluong] [int] NULL,
	[gia] [decimal](18, 0) NULL,
 CONSTRAINT [PK_tbl_chitietdonhang] PRIMARY KEY CLUSTERED 
(
	[id_don] ASC,
	[id_sp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_danhmuc]    Script Date: 5/21/2019 11:25:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_danhmuc](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_dondathang]    Script Date: 5/21/2019 11:25:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_dondathang](
	[id] [varchar](12) NOT NULL,
	[id_tk] [int] NULL,
	[ngaylap] [date] NULL,
	[tonggia] [decimal](18, 0) NULL,
	[diachi] [nvarchar](50) NULL,
 CONSTRAINT [PK__tbl_dond__3213E83F268A181D] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_tintuc]    Script Date: 5/21/2019 11:25:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_tintuc](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tieude] [nvarchar](250) NULL,
	[noidung] [nvarchar](max) NULL,
	[ngaydang] [datetime] NULL,
	[id_tk] [int] NULL,
	[anh] [nchar](255) NULL,
 CONSTRAINT [PK__tbl_news__3213E83F85C8D18B] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_nhasanxuat]    Script Date: 5/21/2019 11:25:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_nhasanxuat](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_quyen]    Script Date: 5/21/2019 11:25:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_quyen](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_sanpham]    Script Date: 5/21/2019 11:25:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_sanpham](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_dm] [int] NULL,
	[ten] [nvarchar](150) NULL,
	[gia] [int] NULL,
	[soluong] [int] NULL,
	[trongluong] [nchar](10) NULL,
	[ROM] [varchar](50) NULL,
	[RAM] [varchar](50) NULL,
	[thenho] [nvarchar](50) NULL,
	[camera_truoc] [varchar](50) NULL,
	[camera_sau] [varchar](50) NULL,
	[pin] [int] NULL,
	[baohanh] [nchar](50) NULL,
	[bluetooth] [int] NULL,
	[id_nsx] [int] NULL,
	[CPU] [varchar](50) NULL,
	[manhinh] [nvarchar](50) NULL,
	[tinhtrang] [bit] NULL,
 CONSTRAINT [PK_tbl_sanpham] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_taikhoan]    Script Date: 5/21/2019 11:25:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_taikhoan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_q] [int] NULL,
	[tentaikhoan] [nvarchar](50) NULL,
	[matkhau] [varchar](30) NULL,
	[id_ttcn] [int] NULL,
	[trangthai] [bit] NULL,
 CONSTRAINT [PK__tbl_nguo__3213E83FE3021EEB] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_thongtincanhan]    Script Date: 5/21/2019 11:25:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_thongtincanhan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](100) NULL,
	[sdt] [decimal](18, 0) NULL,
	[email] [varchar](100) NULL,
	[ngaysinh] [date] NULL,
	[gioitinh] [bit] NULL,
	[anhdaidien] [varchar](255) NULL,
	[diachi] [nvarchar](100) NULL,
 CONSTRAINT [PK__tbl_nhan__3213E83F7D0D328F] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_xulydon]    Script Date: 5/21/2019 11:25:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_xulydon](
	[id_tk] [int] NOT NULL,
	[id_don] [varchar](12) NOT NULL,
	[tinhtrang] [bit] NOT NULL,
 CONSTRAINT [PK_tbl_xulydon] PRIMARY KEY CLUSTERED 
(
	[id_tk] ASC,
	[id_don] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_anh] ON 

INSERT [dbo].[tbl_anh] ([id], [duongdan], [id_sp]) VALUES (1, N'http://vn-test-11.slatic.net/original/026689afa37fba2ba7dbb197689f2b35.jpg_720x720q80.jpg_.webp', 1)
INSERT [dbo].[tbl_anh] ([id], [duongdan], [id_sp]) VALUES (2, N'http://vn-test-11.slatic.net/original/3b1834eb79e643b33b9d42a9de07b69f.jpg_720x720q80.jpg_.webp', 1)
INSERT [dbo].[tbl_anh] ([id], [duongdan], [id_sp]) VALUES (3, N'http://vn-test-11.slatic.net/original/14a2bfc5860bf1d4fb8eb7ed724da646.jpg_720x720q80.jpg_.webp', 2)
GO
SET IDENTITY_INSERT [dbo].[tbl_anh] OFF
SET IDENTITY_INSERT [dbo].[tbl_danhmuc] ON 

INSERT [dbo].[tbl_danhmuc] ([id], [ten]) VALUES (1, N'Điện thoai')
INSERT [dbo].[tbl_danhmuc] ([id], [ten]) VALUES (2, N'Tablet    ')
INSERT [dbo].[tbl_danhmuc] ([id], [ten]) VALUES (3, N'Phụ Kiện  ')
SET IDENTITY_INSERT [dbo].[tbl_danhmuc] OFF
SET IDENTITY_INSERT [dbo].[tbl_tintuc] ON 

SET IDENTITY_INSERT [dbo].[tbl_tintuc] OFF
SET IDENTITY_INSERT [dbo].[tbl_nhasanxuat] ON 

INSERT [dbo].[tbl_nhasanxuat] ([id], [ten]) VALUES (1, N'Apple')
INSERT [dbo].[tbl_nhasanxuat] ([id], [ten]) VALUES (2, N'Samsung')
INSERT [dbo].[tbl_nhasanxuat] ([id], [ten]) VALUES (3, N'Oppo')
SET IDENTITY_INSERT [dbo].[tbl_nhasanxuat] OFF
SET IDENTITY_INSERT [dbo].[tbl_quyen] ON 

INSERT [dbo].[tbl_quyen] ([id], [ten]) VALUES (1, N'admin')
INSERT [dbo].[tbl_quyen] ([id], [ten]) VALUES (2, N'nhanvien')
INSERT [dbo].[tbl_quyen] ([id], [ten]) VALUES (3, N'khachhang')
SET IDENTITY_INSERT [dbo].[tbl_quyen] OFF
SET IDENTITY_INSERT [dbo].[tbl_sanpham] ON 

INSERT [dbo].[tbl_sanpham] ([id], [id_dm], [ten], [gia], [soluong], [trongluong], [ROM], [RAM], [thenho], [camera_truoc], [camera_sau], [pin], [baohanh], [bluetooth], [id_nsx], [CPU], [manhinh], [tinhtrang]) VALUES (1, 1, N'Iphone Xs', CAST(35000001 AS Decimal(12, 0)), 13, N'101       ', N'1GB       ', N'4GB       ', N'null', N'8         ', N'13        ', 3000, N'10                                                ', 6, 1, N'Apple A13', N'5.9', 1)
INSERT [dbo].[tbl_sanpham] ([id], [id_dm], [ten], [gia], [soluong], [trongluong], [ROM], [RAM], [thenho], [camera_truoc], [camera_sau], [pin], [baohanh], [bluetooth], [id_nsx], [CPU], [manhinh], [tinhtrang]) VALUES (2, 1, N'Iphone Xs Max', CAST(40000000 AS Decimal(12, 0)), 9, N'100       ', N'512       ', N'4         ', N'null', N'7         ', N'12        ', 3174, N'12                                                ', 5, 1, N'Apple A12', N'6.5', 1)
INSERT [dbo].[tbl_sanpham] ([id], [id_dm], [ten], [gia], [soluong], [trongluong], [ROM], [RAM], [thenho], [camera_truoc], [camera_sau], [pin], [baohanh], [bluetooth], [id_nsx], [CPU], [manhinh], [tinhtrang]) VALUES (3, 1, N'Iphone X', CAST(25000000 AS Decimal(12, 0)), 10, N'100       ', N'256       ', N'3         ', N'0', N'7         ', N'12        ', 2716, N'12                                                ', 5, 1, N'Apple A11', N'5.8', 0)
SET IDENTITY_INSERT [dbo].[tbl_sanpham] OFF
SET IDENTITY_INSERT [dbo].[tbl_taikhoan] ON 

INSERT [dbo].[tbl_taikhoan] ([id], [id_q], [tentaikhoan], [matkhau], [id_ttcn], [trangthai]) VALUES (1, 1, N'admin', N'admin', 1, 1)
INSERT [dbo].[tbl_taikhoan] ([id], [id_q], [tentaikhoan], [matkhau], [id_ttcn], [trangthai]) VALUES (2, 2, N'tranvana', N'ta123', 2, 1)
INSERT [dbo].[tbl_taikhoan] ([id], [id_q], [tentaikhoan], [matkhau], [id_ttcn], [trangthai]) VALUES (3, 2, N'tranvanb', N'tb123', 3, 1)
SET IDENTITY_INSERT [dbo].[tbl_taikhoan] OFF
SET IDENTITY_INSERT [dbo].[tbl_thongtincanhan] ON 

INSERT [dbo].[tbl_thongtincanhan] ([id], [ten], [sdt], [email], [ngaysinh], [gioitinh], [anhdaidien], [diachi]) VALUES (1, N'Nguyễn Văn Lộc', CAST(353237025 AS Decimal(18, 0)), N'mr.jerry0997@gmail.com', CAST(N'1997-02-01' AS Date), 0, NULL, N'Hà nội')
INSERT [dbo].[tbl_thongtincanhan] ([id], [ten], [sdt], [email], [ngaysinh], [gioitinh], [anhdaidien], [diachi]) VALUES (2, N'Trần Văn B', CAST(476964655 AS Decimal(18, 0)), N'tranvanb@gmail.com', CAST(N'1997-02-02' AS Date), 0, NULL, N'Bắc giang')
INSERT [dbo].[tbl_thongtincanhan] ([id], [ten], [sdt], [email], [ngaysinh], [gioitinh], [anhdaidien], [diachi]) VALUES (3, N'Trần Văn C', CAST(31514656 AS Decimal(18, 0)), N'tranvanc@gmail.com', CAST(N'1997-02-03' AS Date), 0, NULL, N'Bắc Ninh')
SET IDENTITY_INSERT [dbo].[tbl_thongtincanhan] OFF
ALTER TABLE [dbo].[tbl_anh]  WITH CHECK ADD  CONSTRAINT [FK_tbl_anh_tbl_sanpham] FOREIGN KEY([id_sp])
REFERENCES [dbo].[tbl_sanpham] ([id])
GO
ALTER TABLE [dbo].[tbl_anh] CHECK CONSTRAINT [FK_tbl_anh_tbl_sanpham]
GO
ALTER TABLE [dbo].[tbl_chitietdonhang]  WITH CHECK ADD  CONSTRAINT [FK_tbl_chitietdonhang_tbl_dondathang] FOREIGN KEY([id_don])
REFERENCES [dbo].[tbl_dondathang] ([id])
GO
ALTER TABLE [dbo].[tbl_chitietdonhang] CHECK CONSTRAINT [FK_tbl_chitietdonhang_tbl_dondathang]
GO
ALTER TABLE [dbo].[tbl_chitietdonhang]  WITH CHECK ADD  CONSTRAINT [FK_tbl_chitietdonhang_tbl_sanpham] FOREIGN KEY([id_sp])
REFERENCES [dbo].[tbl_sanpham] ([id])
GO
ALTER TABLE [dbo].[tbl_chitietdonhang] CHECK CONSTRAINT [FK_tbl_chitietdonhang_tbl_sanpham]
GO
ALTER TABLE [dbo].[tbl_dondathang]  WITH CHECK ADD  CONSTRAINT [FK_tbl_dondathang_tbl_taikhoan] FOREIGN KEY([id_tk])
REFERENCES [dbo].[tbl_taikhoan] ([id])
GO
ALTER TABLE [dbo].[tbl_dondathang] CHECK CONSTRAINT [FK_tbl_dondathang_tbl_taikhoan]
GO
ALTER TABLE [dbo].[tbl_tintuc]  WITH CHECK ADD  CONSTRAINT [FK_tbl_news_tbl_taikhoan] FOREIGN KEY([id_tk])
REFERENCES [dbo].[tbl_taikhoan] ([id])
GO
ALTER TABLE [dbo].[tbl_tintuc] CHECK CONSTRAINT [FK_tbl_news_tbl_taikhoan]
GO
ALTER TABLE [dbo].[tbl_sanpham]  WITH CHECK ADD  CONSTRAINT [FK_tbl_sanpham_tbl_danhmuc] FOREIGN KEY([id_dm])
REFERENCES [dbo].[tbl_danhmuc] ([id])
GO
ALTER TABLE [dbo].[tbl_sanpham] CHECK CONSTRAINT [FK_tbl_sanpham_tbl_danhmuc]
GO
ALTER TABLE [dbo].[tbl_sanpham]  WITH CHECK ADD  CONSTRAINT [FK_tbl_sanpham_tbl_nhasanxuat] FOREIGN KEY([id_nsx])
REFERENCES [dbo].[tbl_nhasanxuat] ([id])
GO
ALTER TABLE [dbo].[tbl_sanpham] CHECK CONSTRAINT [FK_tbl_sanpham_tbl_nhasanxuat]
GO
ALTER TABLE [dbo].[tbl_taikhoan]  WITH CHECK ADD  CONSTRAINT [FK_tbl_taikhoan_tbl_nhanvien] FOREIGN KEY([id_ttcn])
REFERENCES [dbo].[tbl_thongtincanhan] ([id])
GO
ALTER TABLE [dbo].[tbl_taikhoan] CHECK CONSTRAINT [FK_tbl_taikhoan_tbl_nhanvien]
GO
ALTER TABLE [dbo].[tbl_taikhoan]  WITH CHECK ADD  CONSTRAINT [FK_tbl_taikhoan_tbl_quyen] FOREIGN KEY([id_q])
REFERENCES [dbo].[tbl_quyen] ([id])
GO
ALTER TABLE [dbo].[tbl_taikhoan] CHECK CONSTRAINT [FK_tbl_taikhoan_tbl_quyen]
GO
ALTER TABLE [dbo].[tbl_xulydon]  WITH CHECK ADD  CONSTRAINT [FK_tbl_xulydon_tbl_dondathang] FOREIGN KEY([id_don])
REFERENCES [dbo].[tbl_dondathang] ([id])
GO
ALTER TABLE [dbo].[tbl_xulydon] CHECK CONSTRAINT [FK_tbl_xulydon_tbl_dondathang]
GO
ALTER TABLE [dbo].[tbl_xulydon]  WITH CHECK ADD  CONSTRAINT [FK_tbl_xulydon_tbl_taikhoan] FOREIGN KEY([id_tk])
REFERENCES [dbo].[tbl_taikhoan] ([id])
GO
ALTER TABLE [dbo].[tbl_xulydon] CHECK CONSTRAINT [FK_tbl_xulydon_tbl_taikhoan]
GO
/****** Object:  StoredProcedure [dbo].[DangNhap]    Script Date: 5/21/2019 11:25:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Login](@tentaikhoan NVARCHAR(50), @matkhau VARCHAR(50)) AS
BEGIN
	DECLARE @check_q INT
	DECLARE @result INT

	SET @check_q = (SELECT id_q -- 1: admin ; 2: nhanvien ; 3:khachhang
					FROM dbo.tbl_taikhoan 
					WHERE tentaikhoan = @tentaikhoan AND matkhau = @matkhau)
	IF @check_q = 1
		BEGIN
			SET @result = 1
        END
     ELSE IF @check_q=2
			BEGIN
				SET @result = 2
            END
        ELSE IF @check_q=3
			BEGIN
				SET @result = 3
            END
			ELSE
				BEGIN
					SET @result = 0
				END
				  
	SELECT @result  
END
GO
/****** Object:  StoredProcedure [dbo].[LayAnh]    Script Date: 5/21/2019 11:25:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetImages]
	@id_sp int
AS
begin
	select duongdan from tbl_anh where id_sp = @id_sp
end
GO
/****** Object:  StoredProcedure [dbo].[LaySanPham]    Script Date: 5/21/2019 11:25:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetProducts] AS
BEGIN

	SELECT sp.id, dm.ten as 'tendm', sp.ten, sp.gia, sp.soluong, sp.trongluong, sp.ROM, 
			sp.RAM, sp.thenho, sp.camera_sau, sp.camera_truoc, sp.pin, 
			sp.baohanh, sp.bluetooth, nsx.ten as 'tennsx', sp.CPU, sp.manhinh
	 FROM dbo.tbl_sanpham  as sp, tbl_nhasanxuat as nsx,
			tbl_danhmuc as dm
		WHERE sp.tinhtrang = 1 and sp.id_dm = dm.id and sp.id_nsx = nsx.id 
END
GO
/****** Object:  StoredProcedure [dbo].[LaySanPham_Dm]    Script Date: 5/21/2019 11:25:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetProducts_Dm](@id_dm int) AS
BEGIN

	SELECT * FROM dbo.tbl_sanpham
		WHERE tinhtrang = 1 AND id_dm = @id_dm

END


GO
/****** Object:  StoredProcedure [dbo].[LaySanPham_Id]    Script Date: 5/21/2019 11:25:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetProducts_Id](@id int) AS
BEGIN

	SELECT * FROM dbo.tbl_sanpham
		WHERE tinhtrang = 1 AND id = @id--liệu có thể trả về đối tượng theo cách khác k???

END


GO
/****** Object:  StoredProcedure [dbo].[LaySanPham_Nsx]    Script Date: 5/21/2019 11:25:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetProducts_Nsx](@id_nsx int, @count int) AS
BEGIN

	SELECT top (@count) * FROM dbo.tbl_sanpham
		WHERE tinhtrang = 1 AND id_nsx = @id_nsx

END
GO
/****** Object:  StoredProcedure [dbo].[LayTinTuc]    Script Date: 5/21/2019 11:25:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetNews] AS
BEGIN

	SELECT n.id, n.tieude, n.noidung, n.ngaydang, tk.tentaikhoan 
	FROM dbo.tbl_news AS n, dbo.tbl_taikhoan AS tk
    WHERE n.id_tk = tk.id

END


GO
/****** Object:  StoredProcedure [dbo].[Register]    Script Date: 5/21/2019 11:25:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Register]
	@user varchar(50),
	@email varchar(50),
	@pass varchar(50)
AS
	begin
		declare @id int
		select @id = id from tbl_taikhoan where tentaikhoan = @user
		if (@id is null)
			begin
				insert into tbl_thongtincanhan (ten, email) values (@user, @email)
				select @id = max(id) from tbl_thongtincanhan
				insert
					into tbl_taikhoan (tentaikhoan, matkhau, id_ttcn, id_q, trangthai)
					values (@user, @pass, @id, 3, 1)
			end
	end
GO
/****** Object:  StoredProcedure [dbo].[SoSp_Nsx]    Script Date: 5/21/2019 11:25:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SoSp_Nsx](@id_nsx int)
as 
	begin
		select id_nsx
		from tbl_sanpham 
		where id_nsx = @id_nsx
	end


GO
/****** Object:  StoredProcedure [dbo].[TimKiemSanPham]    Script Date: 5/21/2019 11:25:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SearchProducts](@name NVARCHAR(250)) AS
BEGIN

	SELECT * FROM dbo.tbl_sanpham AS sp
	WHERE sp.ten LIKE '%'+@name+'%'

END

GO
USE [master]
GO
