
@{
    ViewBag.Title = "Xac nhan mail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string a = (string)ViewBag.Notice;
}

<div class="container text-center">
    <div  style="padding-top: 20px; margin-bottom: 5px;>
        <form action="ConfirmMail" method="post">
            Nhập vào mã xác nhận của bạn <input type="text" name="vertify" placeholder="1111111" required/>
            <br />
            <label id="errcode">@a</label>
            <br />
            <input type="submit" value="Xác nhận" style="margin-top: 5px"/>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#slider").hide();
    });
</script>