@{
    ViewBag.Notice = "Quản lý tài khoản";
    ViewBag.Title = "Quản lý tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    bool tab_index = (bool)ViewBag.TabIndex;
    string active_tab = " in active";
}

<div style="margin-left:15px; margin-top:10px;">
    <ul class="nav nav-tabs">
        <li class="@(tab_index?"active":"")"><a data-toggle="tab" href="#nv-content">Nhân viên</a></li>
        <li class="@(tab_index?"":"active")"><a data-toggle="tab" href="#kh-content">Khách hàng</a></li>
    </ul>

    <div class="tab-content">
        <div id="nv-content" class="tab-pane fade@(tab_index?active_tab:"")" style="margin-top:10px;">
            <div id="nv-partview">@{Html.RenderAction("nhanvien");}</div>
        </div>
        <div id="kh-content" class="tab-pane fade@(tab_index?"":active_tab)" style="margin-top:10px;">
            <div id="kh-partview">@{Html.RenderAction("khachhang");}</div>
        </div>
    </div>
</div>