
@{
    ViewBag.Title = "Thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
   // var a = (Shop_Mobi.Databases.tbl_taikhoan)Session["Users"];
}

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb" style="margin-top: 33px;">
                <li><a href="#">Trang chủ</a></li>
                <li class="active">Giỏ hàng</li>
                <li class="active">Thanh toán</li>
            </ol>
        </div><!--/breadcrums-->
        <div class="step-one" style="margin-top: -44px;">
            <h2 class="heading">Địa chỉ giao hàng</h2>
        </div>
        <div class="checkout-options">
            <h3>Tên: @*@a.tbl_thongtincanhan.ten*@</h3>
            <p>Địa chỉ nhận hàng: @*@a.tbl_thongtincanhan.diachi*@</p>
        </div><!--/checkout-options-->
        <div class="review-payment">
            <h2>Sản phẩm</h2>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Sản phẩm</td>
                        <td class="description"></td>
                        <td class="price">Giá</td>
                        <td class="quantity">Số lượng</td>
                        <td class="total">Tổng giá</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="cart_product">
                            <a href=""><img src="images/cart/one.png" alt=""></a>
                        </td>
                        <td class="cart_description">
                            <h4><a href="">Samsung Galaxy S9</a></h4>
                            <p>Nhà sản xuất: Samsung</p>
                        </td>
                        <td class="cart_price">
                            <p>$59</p>
                        </td>
                        <td class="cart_quantity">
                            <p>1</p>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">$59</p>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="4">&nbsp;</td>
                        <td colspan="2">
                            <table class="table table-condensed total-result">
                                <tr>
                                    <td>Tổng giá trị đơn hàng</td>
                                    <td>$59</td>
                                </tr>
                                <tr>
                                    <td>Mã giảm giá</td>
                                    <td>$2</td>
                                </tr>
                                <tr class="shipping-cost">
                                    <td>Phí ship</td>
                                    <td>Free</td>
                                </tr>
                                <tr>
                                    <td>Thành tiền</td>
                                    <td><span>$61</span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="payment-options" style="text-align: right;">
            <span>
                <label ><input type="checkbox"> Trả tiền khi nhân hàng</label>
            </span>
            <span>
                <label ><input type="checkbox"> Thanh toán online</label>
            </span>
            <div class="review-payment">
                <p style="text-align: right; ">
                    <button class="btn" id="btn_payment" onclick="" style="margin-right: 30px; margin-top: 20px; padding: 7px 25px;">
                        <a href="#" style="text-decoration: none; ">Thanh toán</a>
                    </button>
                </p>
            </div>
        </div>
       
    </div>
</section> <!--/#cart_items-->


<script>
    $(document).ready(function () {
        $("#slider").hide();
    });
</script>