@*@{
    Shop_Mobi.Databases.tbl_taikhoan acc = null;
    if (Session["UsersAdmin"] != null)
    {
        acc = (Shop_Mobi.Databases.tbl_taikhoan)Session["UsersAdmin"];
    }
    else if (Session["UsersEmployee"] != null)
    {
        acc = (Shop_Mobi.Databases.tbl_taikhoan)Session["UsersEmployee"];
    }
}*@
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Areas/Admin/Resources/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Areas/Admin/Resources/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Areas/Admin/Resources/Ionicons/css/ionicons.min.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="~/Areas/Admin/Resources/bootstrap-daterangepicker/daterangepicker.css">
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="~/Areas/Admin/Resources/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="~/Areas/Admin/Resources/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Areas/Admin/Resources/select2/dist/css/select2.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Areas/Admin/Resources/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Areas/Admin/Resources/lte/css/AdminLTE.min.css">
    <link rel="icon" href="~/Resources/imgs/home/icon.PNG" type="image/x-icon">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Areas/Admin/Resources/lte/css/skins/_all-skins.min.css">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>A</b>LT</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Shop-</b>Mobi</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 4 messages</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start message -->
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/Areas/Admin/Resources/lte/img/avatar5.png" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Support Team
                                                    <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <!-- end message -->
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/Areas/Admin/Resources/lte/img/avatar5.png" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Tùy biến bởi Team Dut
                                                    <small><i class="fa fa-clock-o"></i> 2 hours</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/Areas/Admin/Resources/lte/img/avatar5.png" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Developers
                                                    <small><i class="fa fa-clock-o"></i> Today</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/Areas/Admin/Resources/lte/img/avatar5.png" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Sales Department
                                                    <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/Areas/Admin/Resources/lte/img/avatar5.png" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Reviewers
                                                    <small><i class="fa fa-clock-o"></i> 2 days</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">See All Messages</a></li>
                            </ul>
                        </li>
l
                        <li class="dropdown user user-menu">
                            <a href="~/Admin/Home/Index" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/Areas/Admin/Resources/lte/img/avatar5.png" class="user-image" alt="User Image">
                                <span class="hidden-xs">@*@acc.tentaikhoan*@Admin</span>
                            </a>
                            <ul class="dropdown-menu" style="width: 170px;">
                                <li>
                                    <a href="~/Admin/Home/Index">
                                        <div class="pull-left">
                                            <img src="~/Areas/Admin/Resources/lte/img/avatar5.png" class="img-circle" alt="User Image" style="witdh: 25px; height: 25px;">
                                        </div>
                                        <p>Thông tin cá nhân</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/Admin/Account/Logout">
                                        <div class="pull-left">
                                            <img src="~/Areas/Admin/Resources/lte/img/avatar5.png" class="img-circle" alt="User Image" style="witdh: 25px; height: 25px;">
                                        </div>
                                        <p>Đăng Xuất</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Areas/Admin/Resources/lte/img/avatar5.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <a href="/Admin/Home/Index"><p>@*@acc.tentaikhoan*@Admin</p></a>
                    </div>
                </div>
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Tìm kiếm...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">Quản lý sản phẩm</li>
                    <li><a href="~/Admin/Home/Sanpham"><i class="fa fa-edit"></i> <span>Điện Thoại</span></a></li>
                    <li><a href="#"><i class="fa fa-edit"></i> <span>Tablet</span></a></li>
                    <li><a href="#"><i class="fa fa-edit"></i> <span>Phụ Kiện</span></a></li>
                    <li><a href="#"><i class="fa fa-edit"></i> <span>Khuyến Mại </span></a></li>
                    <li class="header">Quản Lí Đơn Hàng</li>
                    <li><a href="~/Admin/Home/Chitietdonhang"><i class="fa fa-edit"></i> <span>Chi Tiết Đơn Hàng </span></a></li>
                    <li class="header">Hệ Thống</li>
                    <li><a href="~/Admin/Home/taikhoan"><i class="fa fa-edit"></i> <span>Quản Lý Tài Khoản</span></a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Nhật Ký Hệ Thống</span></a></li>
                    <li><a href="~/Admin/Account/Logout"><i class="fa fa-circle-o text-black"></i> <span>Đăng Xuất</span></a></li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div id="container" class="content-wrapper">

            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">@ViewBag.Notice</h3>
                        </div>

                        @RenderBody()

                    </div>
                    <!-- /.box-body -->
                </div>

            </div>
            <!-- /.col -->
        </div>

        <!-- /.content-wrapper -->
        
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="~/Areas/Admin/Resources/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Areas/Admin/Resources/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Select2 -->
    <script src="~/Areas/Admin/Resources/select2/dist/js/select2.full.min.js"></script>
    <!-- date-range-picker -->
    <script src="~/Areas/Admin/Resources/moment/min/moment.min.js"></script>
    <script src="~/Areas/Admin/Resources/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap datepicker -->
    <script src="~/Areas/Admin/Resources/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/Areas/Admin/Resources/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/Areas/Admin/Resources/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Areas/Admin/Resources/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Areas/Admin/Resources/lte/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Areas/Admin/Resources/lte/js/demo.js"></script>

    <!-- table-->
    <!-- DataTables -->
    <script src="~/Areas/Admin/Resources/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Areas/Admin/Resources/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <!-- page script -->
    <script>
        $(function () {
            $('#example1').DataTable()
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
    </script>

    <!-- Page script -->
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()

            //Datemask dd/mm/yyyy
            $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
            //Datemask2 mm/dd/yyyy
            $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
            //Money Euro
            $('[data-mask]').inputmask()

            //Date range picker
            $('#reservation').daterangepicker()
            //Date range picker with time picker
            $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' })
            //Date range as a button
            $('#daterange-btn').daterangepicker(
                {
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    startDate: moment().subtract(29, 'days'),
                    endDate: moment()
                },
                function (start, end) {
                    $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
                }
            )

            //Date picker
            $('#datepicker').datepicker({
                autoclose: true
            })

            //iCheck for checkbox and radio inputs
            $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue'
            })
            //Red color scheme for iCheck
            $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
                checkboxClass: 'icheckbox_minimal-red',
                radioClass: 'iradio_minimal-red'
            })
            //Flat red color scheme for iCheck
            $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
                checkboxClass: 'icheckbox_flat-green',
                radioClass: 'iradio_flat-green'
            })

            //Colorpicker
            $('.my-colorpicker1').colorpicker()
            //color picker with addon
            $('.my-colorpicker2').colorpicker()

            //Timepicker
            $('.timepicker').timepicker({
                showInputs: false
            })
        })
    </script>
</body>
</html>
